<div class="page-header">
  <%= link_to new_meeting_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Meeting
  <% end %>
  <h1>Listing meetings</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Assignature</th>
            <th>Comments</th>
            <th>Location</th>
            <th>Schedule</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @meetings) do |meeting| %>
            <td><%= meeting.assignature %></td>
            <td><%= meeting.comments %></td>
            <td><%= meeting.location %></td>
            <td><%= meeting.schedule %></td>
            <td><%= link_to 'Show', meeting %></td>
        <td><%= link_to 'Edit', edit_meeting_path(meeting) %></td>
        <td><%= link_to 'Destroy', meeting, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
