<div class="page-header">
  <%= link_to teachers_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_teacher_path(@teacher), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show teacher</h1>
</div>

<dl class="dl-horizontal">
  <dt>First name:</dt>
  <dd><%= @teacher.first_name %></dd>

  <dt>Last name:</dt>
  <dd><%= @teacher.last_name %></dd>

  <dt>Last name2:</dt>
  <dd><%= @teacher.last_name2 %></dd>

  <dt>Email:</dt>
  <dd><%= @teacher.email %></dd>

  <dt>Phone:</dt>
  <dd><%= @teacher.phone %></dd>

</dl>
